$themes: (
  light: (
    sv-bg-color: #f8f8f8,
    sv-bg-hl-color: #ffffff,
    sv-text-color: #333333,
    sv-text-hl-color: #000000,
    sv-text-sub-color: rgba(51, 51, 51, 0.8),
    sv-border-color: #c8c7cc,
    sv-border-hl-color: #e2e2e2,
    sv-mask-color: rgba(0, 0, 0, 0.4)
  ),
  dark: (
    sv-bg-color: #202020,
    sv-bg-hl-color: #000000,
    sv-text-color: #f8f8f8,
    sv-text-hl-color: #ffffff,
    sv-text-sub-color: rgba(248, 248, 248, 0.8),
    sv-border-color: #c8c7cc,
    sv-border-hl-color: #e2e2e2,
    sv-mask-color: rgba(0, 0, 0, 0.4)
  )
);

// 默认light主题
$curTheme: light;

// 动态切换所有主题
@mixin useTheme() {
  @each $key, $value in $themes {
    $curTheme: $key !global;
    .sv-page[data-theme='#{$key}'] & {
      @content;
    }
  }
}

// 只在light主题下的样式
@mixin useLightTheme() {
  $curTheme: light !global;
  .sv-page[data-theme='light'] & {
    @content;
  }
}

// 只在dark主题下的样式
@mixin useDarkTheme() {
  $curTheme: dark !global;
  .sv-page[data-theme='dark'] & {
    @content;
  }
}

// 获取主题样式变量
@function getTheme($key) {
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap, $key);
}
