.sv-id-userinfo {
  @include useTheme {
    background-color: getTheme('sv-background-color');

    .uni-list {
      background-color: getTheme('sv-background-highlight-color');

      .uni-list--border-top,
      .uni-list--border-bottom {
        background-color: getTheme('sv-border-color');
      }

      .uni-list-item {
        background-color: getTheme('sv-background-highlight-color') !important;

        .uni-list--border::after {
          background-color: getTheme('sv-border-color');
        }

        .uni-list-item__content-title {
          color: getTheme('sv-text-color');
        }

        .box {
          background-color: getTheme('sv-mask-highlight-color');
        }
      }
    }
  }
}

.security {
  @include useTheme {
    .uni-list {
      background-color: getTheme('sv-background-color');

      .uni-list--border-top,
      .uni-list--border-bottom {
        background-color: getTheme('sv-border-color');
      }

      .uni-list-item {
        background-color: getTheme('sv-background-color') !important;

        .uni-list--border::after {
          background-color: getTheme('sv-border-color');
        }

        .uni-list-item__content-title {
          color: getTheme('sv-text-color');
        }
      }
    }
  }
}

.change-pwd {
  @include useTheme {
    .uni-forms {
      .uni-forms-item {
        .uni-forms-item__label {
          color: getTheme('sv-text-color');
        }
        .uni-forms-item__content {
          .uni-easyinput {
            color: getTheme('sv-text-color') !important;
            .uni-easyinput__content {
              background-color: getTheme('sv-background-color') !important;
              border: 1px solid #{getTheme('sv-border-color')} !important;
            }
          }
        }
      }
    }
  }
}

.uni-content {
  @include useTheme {
    .button-group {
      background-color: getTheme('sv-background-color');
      border-top: 1px solid #{getTheme('sv-border-color')};
    }
  }
}
