# Editor directories
.idea/
.vscode/
.vite/
.hbuilderx/

# cache
sv-docs/docs/.vitepress/cache/

# system ignore
node_modules/
dist/
unpackage/

# package file
*.war
*.ear
*.zip
*.tar.gz
*.rar

# others
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.yaml
*.lock