@import './layout.scss';
@import './element-plus.scss';
@import './uni-ui.scss';
@import './sv-ui.scss';
@import './animations.scss';
@import './sv-icons.scss';
@import './uni-icons.scss';
@import './admin-icons.scss';

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  box-sizing: border-box;
}

uni-page-body {
  min-height: 100%;

  @include useTheme {
    background-color: getTheme('sv-bg-color');
    color: getTheme('sv-text-color');
  }
}

a {
  text-decoration: none;
}

/* 全局滚动条样式 */
/* 宽度 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 轨道 */
::-webkit-scrollbar-track {
  background: transparent;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
  @include useTheme {
    background-color: getTheme('sv-grey-color');
    &:hover {
      background-color: getTheme('sv-grey-hl-color');
    }
  }
  border-radius: 3px;
}
