/* index.html 首屏加载样式 */

*,
#app {
  padding: 0;
  margin: 0;
}

.app-loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 首屏加载 */
.sv-index-loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.sv-index-loader:before {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fb7299;
  animation: anim-loading-bounce 0.5s ease-in-out infinite alternate;
}

.sv-index-loader:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: anim-loading-step 1s ease-in-out infinite;
}

@keyframes anim-loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes anim-loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2,
      -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 90px 0 #f2f2f2,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

/* 流光炫彩文字 */
.sv-text-streamer {
  background: linear-gradient(135deg,
      #0eaf6d,
      #ff6ac6 25%,
      #147b96 50%,
      #e6d205 55%,
      #2cc4e0 60%,
      #8b2ce0 75%,
      #ff6384 90%,
      #0eaf6d);
  /* 文字颜色填充设置为透明 */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* 背景裁剪，即让文字使用背景色 */
  background-clip: text;
  -webkit-background-clip: text;
  /* 背景图放大一下，看着柔和一些 */
  background-size: 200% 100%;
  -webkit-background-size: 200% 100%;
  /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
  animation: anim-text-streamer 12s infinite linear;
  -webkit-animation: anim-text-streamer 12s infinite linear;
}

.sv-text-streamer:hover {
  animation: anim-text-streamer 4s infinite linear;
  -webkit-animation: anim-text-streamer 4s infinite linear;
}

@keyframes anim-text-streamer {
  0% {
    /* 移动背景位置 */
    background-position: 0 0;
  }

  100% {
    background-position: -400% 0;
  }
}

@-webkit-keyframes anim-text-streamer {
  0% {
    /* 移动背景位置 */
    background-position: 0 0;
  }

  100% {
    background-position: -400% 0;
  }
}