.uni-app--showleftwindow uni-main {
  position: relative;
}

.uni-app--showleftwindow uni-page-head[uni-page-head-type='default'] ~ uni-page-wrapper {
  height: auto;
  padding-top: 44px;
}

.uni-app--showleftwindow uni-page-head .uni-page-head {
  background-color: transparent !important;
}

.uni-app--showleftwindow uni-page-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  @include useTheme {
    background-color: getTheme('sv-mask-color');
  }
}

.uni-app--showleftwindow uni-page-body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: -1px -1px 4px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  // overflow-x: hidden;
}
