/* #ifdef H5 */
// uni-media-library媒体库插件配色
.sv-media-lib {
  @include useTheme {
    background-color: #{getTheme('sv-bg-color')};
    .media-info-wrap {
      background-color: #{getTheme('sv-bg-color')};
      border-left: 1px solid #{getTheme('sv-border-color')};

      .title {
        color: #{getTheme('sv-text-sub-color')};
      }

      .info-item {
        .label {
          color: #{getTheme('sv-text-sub-color')};
        }
        .content {
          color: #{getTheme('sv-text-color')};
        }
      }
    }
    .tabs {
      border-bottom: 1px solid #{getTheme('sv-border-color')};
      .tabs-nav {
        background-color: #{getTheme('sv-bg-color')};

        .tab-label {
          color: #{getTheme('sv-text-sub-color')};
        }
        .active {
          color: $uni-color-primary;
        }
      }
    }
  }
}
/* #endif */

// 将模态框层级调整最高，以防止第三方组件遮挡
uni-modal {
  z-index: 999999999 !important;
}

.sv-uni-file-picker {
  @include useTheme {
    .files__name {
      color: getTheme('sv-text-color');
    }
    .icon-del-box {
      .icon-del {
        background-color: getTheme('sv-text-color');
      }
    }
    .files-border {
      border-color: getTheme('sv-shadow-color') !important;
    }
  }
}

.sv-uni-easyinput {
  @include useTheme {
    .uni-easyinput {
      color: getTheme('sv-text-color') !important;
      .uni-easyinput__content {
        background-color: getTheme('sv-bg-hl-color') !important;
        border: 1px solid #{getTheme('sv-border-color')} !important;
      }
    }
  }
}

.sv-uni-data-select {
  @include useTheme {
    color: getTheme('sv-text-color');
    background-color: getTheme('sv-bg-hl-color') !important;

    .uni-select {
      border: 1px solid #{getTheme('sv-border-color')} !important;
    }

    .uni-select__input-text {
      color: inherit;
    }

    .uni-select--disabled {
      color: getTheme('sv-text-sub-color') !important;
      background-color: getTheme('sv-bg-hl-color') !important;
    }

    .uni-select__selector {
      background-color: getTheme('sv-bg-hl-color') !important;

      .uni-select__selector-item:hover {
        background-color: getTheme('sv-bg-color') !important;
      }
    }
  }
}

.sv-uni-list {
  .uni-list {
    @include useTheme {
      background-color: getTheme('sv-card-color');

      .list-title {
        padding: 20rpx 30rpx;
        font-size: 12px;
        border-bottom: 1rpx solid #{getTheme('sv-border-color')};
        color: getTheme('sv-text-sub-color');
        opacity: 0.6;
      }

      .uni-list-item {
        background-color: getTheme('sv-card-color') !important;

        .uni-list-item__content {
          color: getTheme('sv-text-color');
          .uni-list-item__content-title {
            color: getTheme('sv-text-color');
          }
        }
      }

      .uni-list-item--hover {
        background-color: getTheme('sv-hover-color') !important;
      }

      .uni-list--border-top,
      .uni-list--border-bottom {
        background-color: getTheme('sv-border-color');
      }

      .uni-list--border:after {
        background-color: getTheme('sv-border-color');
      }
    }
  }
}
